body {
    font-family: "Parkinsans", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232136;
    color: #c7c3da;
}

header {
    display: flex;
    place-content: center;
    place-self: center;
    place-self: center;
    border: 1px #322f48 solid;
    background-color: #38354e;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
a {
    background-color: #5bbfa1; /* Green */
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 100%;
    margin: 1%;
    border-radius: 5%;
    text-decoration: none;
}
a:hover {
    background-color: #71eac6;
    cursor: pointer;
}
.recipies-button {
    border-width: 5px;
    border-color: #71eac6;
    border-style: solid;
}

main {
    place-self: center center;
    background-color: #232136;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    grid-template-rows: repeat(3, 1fr); /* 3 equal-width columns */
    width: 80%;
    gap: 0; /* No gap between items */
}
/* Responsive design for mobile devices */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 columns for smaller screens */
        grid-template-rows: auto; /* Allow rows to auto-adjust height */
    }
}
.gallery-item {
    place-content: center;
    border-radius: 5%;
    color: #9dced9;
    margin: 5%;
    border: 1px #322f48 solid;
    background-color: #28253c;
    text-align: center; /* Center text */
    transition: transform 1s;
    transform-style: preserve-3d;
}
.gallery-item:active {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}
.gallery-item img {
    max-width: 70%; /* Prevents overflow beyond parent */
    height: auto;
    object-fit: cover; /* Ensures the image fills the box without distortion */
    border-radius: 5%; /* Optional: Make the image circular */
    transition: all 1s ease;
    margin: 5%;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: #38354e;
}
